[submodule "vaultwares-themes"]
	path = vaultwares-themes
	url = https://github.com/p-potvin/vaultwares-themes
	branch = main
[submodule "vaultwares-adk"]
	path = vaultwares-adk
	url = https://github.com/p-potvin/vaultwares-adk
